<section>
  <div class="container">
    <a href="/add-product" class="btn btn-primary px-3 mt-5"><i class="fa-solid fa-plus"></i> Add New Product</a>
    <a href="/shop" class="btn btn-success px-3 mt-5"><i class="fa-regular fa-eye"></i> View Store</a>
    <div class="page-content mt-3 border p-4 rounded">
      <table id="product-table" class="display">
        <thead>
          <tr>
            <th>#</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>
              <img
                class="porduct-image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1XLD-12hDtpJcf4M8nVEZiwunQnPPU-1fEYNZcDvEx8hgMEP_sAVhMNe1hEZ_nSrLzs&usqp=CAU"
                alt=""
              />
            </td>
            <td>Alu pro max</td>
            <td>200</td>
            <td>20</td>
            <td>
              <button class="view btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></button>
              <button class="edite btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="delete btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          <tr>
            <td>01</td>
            <td>
              <img
                class="porduct-image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1XLD-12hDtpJcf4M8nVEZiwunQnPPU-1fEYNZcDvEx8hgMEP_sAVhMNe1hEZ_nSrLzs&usqp=CAU"
                alt=""
              />
            </td>
            <td>Alu pro max</td>
            <td>200</td>
            <td>20</td>
            <td>
              <button class="view btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></button>
              <button class="edite btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="delete btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          <tr>
            <td>01</td>
            <td>
              <img
                class="porduct-image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1XLD-12hDtpJcf4M8nVEZiwunQnPPU-1fEYNZcDvEx8hgMEP_sAVhMNe1hEZ_nSrLzs&usqp=CAU"
                alt=""
              />
            </td>
            <td>Alu pro max</td>
            <td>200</td>
            <td>20</td>
            <td>
              <button class="view btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></button>
              <button class="edite btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="delete btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          <tr>
            <td>01</td>
            <td>
              <img
                class="porduct-image"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1XLD-12hDtpJcf4M8nVEZiwunQnPPU-1fEYNZcDvEx8hgMEP_sAVhMNe1hEZ_nSrLzs&usqp=CAU"
                alt=""
              />
            </td>
            <td>Alu pro max</td>
            <td>200</td>
            <td>20</td>
            <td>
              <button class="view btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></button>
              <button class="edite btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
              <button class="delete btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>