.container{
    width: 80%;
    margin: auto;
}
:root{
    --primary: #137547;
    --primary-hover:#0f5a37;
    --black:#000000;
    --white:#ffffff;
    --paragraph: #ddd;
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --heading-1: 50px;
    --heading-2: 40px;
    --heading-3: 30px;
    --heading-4: 20px;
    --red: red;
}