
footer{
    background: hsl(152, 72%, 27%);
    color: var(--white);
    opacity: .9;
    padding: 10px 0 ;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul{
    display: flex;
    gap: 10px;
    a{
        transition: .4s;
        color: var(--white);
        &:hover{
            color: var(--black);
            text-decoration: underline;
        }
    }
  }
  img{
    width:70px;
    filter: invert(1);
  }

}